@model CreateFeatureDto
@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">

        <h4 class="card-title">Yeni Özellik Girişi</h4>
        <p class="card-subtitle mb-4">

        </p>

        <form method="post">
            <div class="form-group">
                <label for="exampleInputModel">Özellik</label>
                <input type="text" class="form-control" id="exampleInputModel" asp-for="Name" placeholder="Özelliği giriniz">
            </div>

            <button type="submit" class="btn btn-primary waves-effect waves-light">Özelliği Kaydet</button>
        </form>

    </div> <!-- end card-body-->
</div>

