@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="card">
    <div class="card-body">

        <h4 class="card-title">Kategori Güncelleme İşlemi</h4>
        <p class="card-subtitle mb-4">

        </p>

        <form method="post">
            <input type="hidden" asp-for="CategoryId" />
            <div class="form-group">
                <label for="exampleInputName">Kategori Adı</label>
                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Kategori adını giriniz">
            </div>

            <button type="submit" class="btn btn-primary waves-effect waves-light">Kategoriyi Kaydet</button>
        </form>

    </div> <!-- end card-body-->
</div>

